/*-------------------------------------General-------------------------------------*/
*{
    padding: 0;
    margin: 0;
}

/*-------------------------------------Page-------------------------------------*/
#HomePage{
    width: 100vw;
    height: 100vh;
    display: flex;
}

/*-------------------------------------Profile-side-------------------------------------*/
#HomePage #profile{
    width: 20%;
    margin-top: 2%;
    margin-left: 2.5%;
    height: 250px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    border-radius: 8px;
}

#HomePage #profile #content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#HomePage #profile #content img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 12px;
}

#HomePage #profile #content p{
    /* text-align: center; */
    font-size: 20px;
}

#HomePage #profile #buttons{
    margin-top: 15px;
}

#HomePage #profile #buttons button{
    color: #fff;
    margin: 10px 8px 6px 8px;
    padding: 4px 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

#HomePage #profile #buttons button:hover{
    transform: scale(1.05);
}

#HomePage #profile #buttons button:first-child{
    background-color: #7E56DA;
}

#HomePage #profile #buttons button:last-child{
    background-color:gray;
}

/*-------------------------------------Posts-side-------------------------------------*/
#HomePage #posts{
    width: 75%;
    margin: 2% 0;
    /* height: 300px; */
    /* background-color: green; */
}

#HomePage #posts #post{
    width: 70%;
    /* height: 60%; */
    /* margin-top: 10px; */
    background-color: #eef1f4;
    /* padding: 20px; */
    border-radius: 8px;
    display: grid;
    align-content: flex-start;
    word-wrap: break-word;
    margin: 20px auto 0px auto;
    display: flex;
    justify-content: center;
}

#HomePage #posts #post #post_profile{
    display: flex;
    /* margin-bottom: 10px; */
    padding: 10px;
    align-items: center;
}

#HomePage #posts #post #post_profile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 8px;
}

#HomePage #posts #post #foto_post{
    justify-self: center;
    /* width: 90%; */
    height: 250px;
    object-fit: cover;
    justify-self: center;
    margin-bottom: 20px;
}

#HomePage #posts #post p{
    text-align: justify;
    /* word-wrap: break-word; */
    width: auto;
    height: auto;
    font-size: large;
    padding-bottom: 10px;
    /* overflow-y: auto; */
}

/*-------------------------Logica sin seccion de posts*/
/* #HomePage #posts{
    width: 75%;
    margin: 2% 0;
    height: 300px;
    background-color: green;
} */

#HomePage #post{
    width: 50%;
    height: 67%;
    /* margin-top: 10px; */
    background-color: #eef1f4;
    /* padding: 20px; */
    border-radius: 8px;
    display: grid;
    align-content: flex-start;
    word-wrap: break-word;
    margin: 20px auto 0px auto;
    display: flex;
    justify-content: center;
}

#HomePage #post #post_profile{
    display: flex;
    /* margin-bottom: 10px; */
    padding: 10px;
    align-items: center;
}

#HomePage #post #post_profile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 8px;
}

#HomePage #post #foto_post{
    justify-self: center;
    /* width: 90%; */
    height: 250px;
    object-fit: cover;
    justify-self: center;
    margin-bottom: 20px;
}

#HomePage #post p{
    text-align: justify;
    /* word-wrap: break-word; */
    width: auto;
    height: auto;
    font-size: large;
    padding-bottom: 10px;
    /* overflow-y: auto; */
}